@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: contain;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vmax;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 100vmax;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
